* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*  Colors Based on pico-8 palette */

:root{
  --black: #000000;
  --deep-blue: #1D2B53;
  --deep-purple: #7E2553;
  --medium-green: #008751;
  --brown: #AB5236;
  --deep-gray: #5F574F;
  --light-gray: #C2C3C7;
  --white: #FFF1E8;
  --red: #FF004D;
  --orange: #FFA300;
  --yellow: #FFEC27;
  --light-green: #00E436;
  --Sky-blue: #29ADFF;
  --light-purple: #83769C;
  --pink: #FF77A8;
  --peach: #FFCCAA;
}

@font-face {
	font-family: "Pixel";
	src: url("/fonts/Cave-Story.ttf");
}


body {
  background: var(--deep-blue);
  color: var(--white);
  text-decoration: none;
  font-size: 16px;
  font-family: "Pixel", serif;
}

a {
  color: var(--white);
  text-decoration: none;
}

ul {
    list-style: none;
}

.container {
  width: 70%;
  margin: auto;
}

/* Navigation */

.nav-main{
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px 0;
}

.nav-brand{
  width: 200px;
}

/*Nav Left*/
.nav-main ul{
  display: flex;
}

.nav-main ul li{
  padding: 20px;
}

.nav-main ul li a:hoover{
  border-bottom: 2px solid var(--white);
}

.nav-main ul.nav-menu{
  flex: inherit;
  margin-left: 20px;
}